body {
    background-color: #228B22;
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

.card-area {
    border-radius: 10px;
    padding: 25px;
    min-height: 210px;
}

.card {
    display: inline-block;
    width: 80px;
    height: 120px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
}

#playerMoney, #playerSums, #botSums {
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    width: 150px;
}

#gameOverMessage {
    font-size: 1.5rem;
    margin-top: 20px;
}

#playerBet {
    width: 150px;
}

.card-img {
    width: 10vw;
    height: 15vw;
    background-size: cover;
    margin: 10px;
}

#playerGameCards, #botGameCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* CSS untuk modal pop-up */
.modal-content {
    background-color: rgb(0, 0, 0);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Lebar modal */
    text-align: center; /* Memastikan teks di tengah */
    display: flex;
    flex-direction: column;
    align-items: center; /* Memusatkan konten secara vertikal */
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Menambahkan jarak atas ke tombol */
  }
  
  button:hover {
    background-color: #45a049;
}
